@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@* TODO: Test DynamicComponent
1. Run project
2. Open Home page in browser
3. You can see dropbox  
4. The browser page displays different options depending on the dropbox selection
*@

@* TODO: Go to implementation .razor -> .razor.css
1. Right click on col-4 and select Go to ... Declaration
2. "Choose declaration" with Index.razor.css should open 
*@

@* TODO: DynamicComponent
1. No red code
2. Build run successful
3. Syntax highlighting works
4. Code completion when you start typing <DynamicComponent>
*@

<div class="col-4">
    What is your current living situation?
    <select @onchange="OnDropdownChange" class="form-control">
        <option value="@nameof(DefaultDropdownComponent)">Select a value</option>
        <option value="@nameof(RentComponent)">Rent</option>
        <option value="@nameof(OwnHouseComponent)">Own house</option>
        <option value="@nameof(OwnCondoComponent)">Own condo or townhouse</option>
        <option value="@nameof(DaveRoommate)">I'm Dave's roommate</option>
    </select>
    <br />
    <DynamicComponent Type="selectedType" />
</div>

@* TODO: Test Debug dynamic component
1. Set a breakpoint on the selectedType in the function
2. Run debug 
3. In the browser open page with dynamic component and select one way in the dropbox
4. Track how the selectedType change after you selected any result
*@
@code
{
    Type selectedType = typeof(DefaultDropdownComponent);

    public void OnDropdownChange(ChangeEventArgs myArgs)
    {
        selectedType = Type.GetType($"BlazorDebugServerApp.Shared.{myArgs.Value}");
    }
}